In [37]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

!pip install plotly
import plotly.graph_objects as go
from plotly.subplots import make_subplots


import numpy as np
from scipy.stats import shapiro, normaltest, probplot

from statsmodels.tsa.seasonal import seasonal_decompose

833.19s - pydevd: Sending message related to process being replaced timed-out after 5 seconds
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly in /programs/anaconda3/lib/python3.12/site-packages (5.24.1)
Requirement already satisfied: tenacity>=6.2.0 in /programs/anaconda3/lib/python3.12/site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in /programs/anaconda3/lib/python3.12/site-packages (from plotly) (24.1)

In [ ]:
%run "variables.py"
%run "functions.ipynb"

In [ ]:
%run "02-feature-engineering.ipynb"

839.55s - pydevd: Sending message related to process being replaced timed-out after 5 seconds
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly in /programs/anaconda3/lib/python3.12/site-packages (5.24.1)
Requirement already satisfied: tenacity>=6.2.0 in /programs/anaconda3/lib/python3.12/site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in /programs/anaconda3/lib/python3.12/site-packages (from plotly) (24.1)

,machineid,datetimestamp,enginegastemperature1,enginegastemperature2,enginegastemperature3,enginegastemperature4,enginegastemperature5,enginegastemperature6,pressure
0,1,2025-01-01 00:00:00,302.483571,385.408617,303.238443,307.615149,298.829233,298.829315,103.158426
1,1,2025-01-01 00:10:00,303.837174,300.111109,297.861035,297.340913,299.412622,301.110395,98.464047
2,1,2025-01-01 00:20:00,299.877724,301.777757,302.085056,304.162309,298.533004,299.850807,100.190252
3,1,2025-01-01 00:30:00,303.323272,303.895963,294.494511,305.651141,301.865595,298.067635,97.682460
4,1,2025-01-01 00:40:00,297.766293,307.621208,301.614999,293.032915,289.108329,294.780518,100.345387

,enginegastemperature1,enginegastemperature2,enginegastemperature3,enginegastemperature4,enginegastemperature5,enginegastemperature6,pressure
enginegastemperature1,1.000000,-0.010021,-0.011338,-0.009848,-0.009100,-0.010515,-0.002591
enginegastemperature2,-0.010021,1.000000,-0.008510,-0.013216,-0.009915,-0.010837,0.001089
enginegastemperature3,-0.011338,-0.008510,1.000000,-0.012364,-0.010852,-0.011150,-0.002380
enginegastemperature4,-0.009848,-0.013216,-0.012364,1.000000,-0.009182,-0.010195,-0.001853
enginegastemperature5,-0.009100,-0.009915,-0.010852,-0.009182,1.000000,-0.009174,-0.000512
enginegastemperature6,-0.010515,-0.010837,-0.011150,-0.010195,-0.009174,1.000000,-0.001037
pressure,-0.002591,0.001089,-0.002380,-0.001853,-0.000512,-0.001037,1.000000

,machineid,enginegastemperature1,enginegastemperature2,enginegastemperature3,enginegastemperature4,enginegastemperature5,enginegastemperature6,pressure,hour,dayofweek,...,enginegastemperature3_rolling_mean,enginegastemperature3_rolling_std,enginegastemperature4_rolling_mean,enginegastemperature4_rolling_std,enginegastemperature5_rolling_mean,enginegastemperature5_rolling_std,enginegastemperature6_rolling_mean,enginegastemperature6_rolling_std,pressure_rolling_mean,pressure_rolling_std
datetimestamp,,,,,,,,,,,,,,,,,,,,,
2025-01-01 00:00:00,1,302.483571,385.408617,303.238443,307.615149,298.829233,298.829315,103.158426,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-01 00:10:00,1,303.837174,300.111109,297.861035,297.340913,299.412622,301.110395,98.464047,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-01 00:20:00,1,299.877724,301.777757,302.085056,304.162309,298.533004,299.850807,100.190252,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-01 00:30:00,1,303.323272,303.895963,294.494511,305.651141,301.865595,298.067635,97.682460,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-01 00:40:00,1,297.766293,307.621208,301.614999,293.032915,289.108329,294.780518,100.345387,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,datetimestamp,machineid,enginegastemperature1,enginegastemperature2,enginegastemperature3,enginegastemperature4,enginegastemperature5,enginegastemperature6,pressure,hour,...,enginegastemperature3_rolling_mean_12,enginegastemperature3_rolling_std_12,enginegastemperature4_rolling_mean_12,enginegastemperature4_rolling_std_12,enginegastemperature5_rolling_mean_12,enginegastemperature5_rolling_std_12,enginegastemperature6_rolling_mean_12,enginegastemperature6_rolling_std_12,pressure_rolling_mean_12,pressure_rolling_std_12
0,2025-01-01 00:00:00,1,302.483571,385.408617,303.238443,307.615149,298.829233,298.829315,103.158426,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-01-01 00:10:00,1,303.837174,300.111109,297.861035,297.340913,299.412622,301.110395,98.464047,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-01-01 00:20:00,1,299.877724,301.777757,302.085056,304.162309,298.533004,299.850807,100.190252,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-01-01 00:30:00,1,303.323272,303.895963,294.494511,305.651141,301.865595,298.067635,97.682460,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-01-01 00:40:00,1,297.766293,307.621208,301.614999,293.032915,289.108329,294.780518,100.345387,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,datetimestamp,machineid,enginegastemperature1,enginegastemperature2,enginegastemperature3,enginegastemperature4,enginegastemperature5,enginegastemperature6,pressure,hour,...,enginegastemperature6_rolling_std_12,pressure_rolling_mean_12,pressure_rolling_std_12,enginegastemperature1_diff,enginegastemperature2_diff,enginegastemperature3_diff,enginegastemperature4_diff,enginegastemperature5_diff,enginegastemperature6_diff,pressure_diff
0,2025-01-01 00:00:00,1,302.483571,385.408617,303.238443,307.615149,298.829233,298.829315,103.158426,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-01-01 00:10:00,1,303.837174,300.111109,297.861035,297.340913,299.412622,301.110395,98.464047,0,...,NaN,NaN,NaN,1.353603,-85.297508,-5.377407,-10.274236,0.583389,2.281079,-4.694379
2,2025-01-01 00:20:00,1,299.877724,301.777757,302.085056,304.162309,298.533004,299.850807,100.190252,0,...,NaN,NaN,NaN,-3.959450,1.666647,4.224020,6.821396,-0.879618,-1.259587,1.726205
3,2025-01-01 00:30:00,1,303.323272,303.895963,294.494511,305.651141,301.865595,298.067635,97.682460,0,...,NaN,NaN,NaN,3.445548,2.118207,-7.590544,1.488832,3.332590,-1.783172,-2.507792
4,2025-01-01 00:40:00,1,297.766293,307.621208,301.614999,293.032915,289.108329,294.780518,100.345387,0,...,NaN,NaN,NaN,-5.556979,3.725245,7.120488,-12.618226,-12.757266,-3.287117,2.662928

,datetimestamp,machineid,enginegastemperature1,enginegastemperature2,enginegastemperature3,enginegastemperature4,enginegastemperature5,enginegastemperature6,pressure,hour,...,enginegastemperature4_diff,enginegastemperature5_diff,enginegastemperature6_diff,pressure_diff,enginegastemperature1_failure_flag,enginegastemperature2_failure_flag,enginegastemperature3_failure_flag,enginegastemperature4_failure_flag,enginegastemperature5_failure_flag,enginegastemperature6_failure_flag
0,2025-01-01 00:00:00,1,302.483571,385.408617,303.238443,307.615149,298.829233,298.829315,103.158426,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
1,2025-01-01 00:10:00,1,303.837174,300.111109,297.861035,297.340913,299.412622,301.110395,98.464047,0,...,-10.274236,0.583389,2.281079,-4.694379,0,0,0,0,0,0
2,2025-01-01 00:20:00,1,299.877724,301.777757,302.085056,304.162309,298.533004,299.850807,100.190252,0,...,6.821396,-0.879618,-1.259587,1.726205,0,0,0,0,0,0
3,2025-01-01 00:30:00,1,303.323272,303.895963,294.494511,305.651141,301.865595,298.067635,97.682460,0,...,1.488832,3.332590,-1.783172,-2.507792,0,0,0,0,0,0
4,2025-01-01 00:40:00,1,297.766293,307.621208,301.614999,293.032915,289.108329,294.780518,100.345387,0,...,-12.618226,-12.757266,-3.287117,2.662928,0,0,0,0,0,0
5,2025-01-01 00:50:00,1,301.620994,303.927661,313.280050,301.317430,308.208856,302.304082,100.171847,0,...,8.284515,19.100527,7.523564,-0.173540,0,0,0,0,0,0
6,2025-01-01 01:00:00,1,295.234861,294.760647,290.621616,293.166089,303.181526,295.466397,100.952085,1,...,-8.151341,-5.027330,-6.837685,0.780238,0,0,0,0,0,0
7,2025-01-01 01:10:00,1,306.518306,303.311423,301.205611,299.158975,305.823843,298.771262,98.460664,1,...,5.992885,2.642318,3.304865,-2.491421,0,0,0,0,0,0
8,2025-01-01 01:20:00,1,304.750027,308.632582,302.289425,291.578563,301.634226,299.594405,100.935590,1,...,-7.580411,-4.189617,0.823144,2.474925,0,0,0,0,0,0
9,2025-01-01 01:30:00,1,303.680612,296.925621,301.664462,293.096415,298.595969,299.700914,101.922348,1,...,1.517852,-3.038258,0.106508,0.986758,0,0,0,0,0,0
10,2025-01-01 01:40:00,1,296.089761,302.119715,304.363525,311.436130,308.114602,304.118665,100.586118,1,...,18.339715,9.518634,4.417752,-1.336229,0,0,0,0,0,0
11,2025-01-01 01:50:00,1,304.483152,299.473714,295.223268,297.926177,293.006296,298.279597,101.501572,1,...,-13.509953,-15.108307,-5.839068,0.915453,0,0,0,0,0,0
12,2025-01-01 02:00:00,1,303.620416,298.721177,304.249606,293.443379,295.648475,297.466784,97.380099,2,...,-4.482798,2.642180,-0.812813,-4.121473,0,0,0,0,0,0
13,2025-01-01 02:10:00,1,314.718317,393.587429,295.913229,297.584387,297.150858,289.542002,102.527481,2,...,4.141008,1.502383,-7.924782,5.147382,0,1,0,0,0,0
14,2025-01-01 02:20:00,1,299.907246,291.632477,294.637341,295.037069,300.511738,297.836954,98.681635,2,...,-2.547318,3.360880,8.294952,-3.845846,0,0,0,0,0,0
15,2025-01-01 02:30:00,1,300.019687,299.038195,301.507737,299.826441,294.156610,305.714114,101.503866,2,...,4.789372,-6.355129,7.877160,2.822231,0,0,0,0,0,0
16,2025-01-01 02:40:00,1,295.990861,306.920079,307.026027,306.961629,295.596796,300.384475,99.013135,2,...,7.135188,1.440186,-5.329639,-2.490731,0,0,0,0,0,0

Failure flag counts for enginegastemperature1:
enginegastemperature1_failure_flag
0    259889
1      2911
Name: count, dtype: int64


Failure flag counts for enginegastemperature2:
enginegastemperature2_failure_flag
0    259942
1      2858
Name: count, dtype: int64


Failure flag counts for enginegastemperature3:
enginegastemperature3_failure_flag
0    259959
1      2841
Name: count, dtype: int64


Failure flag counts for enginegastemperature4:
enginegastemperature4_failure_flag
0    259957
1      2843
Name: count, dtype: int64


Failure flag counts for enginegastemperature5:
enginegastemperature5_failure_flag
0    259921
1      2879
Name: count, dtype: int64


Failure flag counts for enginegastemperature6:
enginegastemperature6_failure_flag
0    260026
1      2774
Name: count, dtype: int64

# Data

In [45]:
df

,machineid,datetimestamp,enginegastemperature1,enginegastemperature2,enginegastemperature3,enginegastemperature4,enginegastemperature5,enginegastemperature6,pressure,isolation_forest_anomaly
0,1,2025-01-01 00:00:00,302.483571,385.408617,303.238443,307.615149,298.829233,298.829315,103.158426,1
1,1,2025-01-01 00:10:00,303.837174,300.111109,297.861035,297.340913,299.412622,301.110395,98.464047,0
2,1,2025-01-01 00:20:00,299.877724,301.777757,302.085056,304.162309,298.533004,299.850807,100.190252,0
3,1,2025-01-01 00:30:00,303.323272,303.895963,294.494511,305.651141,301.865595,298.067635,97.682460,0
5,1,2025-01-01 00:50:00,301.620994,303.927661,313.280050,301.317430,308.208856,302.304082,100.171847,0
...,...,...,...,...,...,...,...,...,...,...
262793,5,2025-12-31 22:50:00,302.154865,302.646292,303.367498,294.421808,290.112659,291.345122,99.924846,0
262794,5,2025-12-31 23:00:00,289.918636,300.927510,300.481838,298.075180,296.622965,293.509138,98.072250,0
262796,5,2025-12-31 23:20:00,299.194587,299.535833,294.764662,302.101842,293.575331,312.220512,96.947105,0
262797,5,2025-12-31 23:30:00,303.639064,297.400566,290.276145,294.050107,293.138772,301.484631,99.452517,0
262799,5,2025-12-31 23:50:00,294.750371,300.476275,294.260679,301.694702,299.874049,290.734649,97.888512,0

In [ ]:

df.drop(columns=['machineid'])
df = df.set_index('datetimestamp')
display(df.head())

,enginegastemperature1,enginegastemperature2,enginegastemperature3,enginegastemperature4,enginegastemperature5,enginegastemperature6,pressure,isolation_forest_anomaly
datetimestamp,,,,,,,,
2025-01-01 00:00:00,302.483571,385.408617,303.238443,307.615149,298.829233,298.829315,103.158426,1
2025-01-01 00:10:00,303.837174,300.111109,297.861035,297.340913,299.412622,301.110395,98.464047,0
2025-01-01 00:20:00,299.877724,301.777757,302.085056,304.162309,298.533004,299.850807,100.190252,0
2025-01-01 00:30:00,303.323272,303.895963,294.494511,305.651141,301.865595,298.067635,97.682460,0
2025-01-01 00:50:00,301.620994,303.927661,313.280050,301.317430,308.208856,302.304082,100.171847,0

# Data loading

Load the two CSV files, pred_maint_timeseries_with_failures.csv into pandas DataFrame.

In [40]:
# df = pd.read_csv(f'{DATA_DIR}/pred_maint_timeseries_with_failures.csv')
df = pd.read_csv(f'{DATA_DIR}/pred_maint_year_outliers_nulls.csv')
display(df.head())

,machineid,datetimestamp,enginegastemperature1,enginegastemperature2,enginegastemperature3,enginegastemperature4,enginegastemperature5,enginegastemperature6,pressure
0,1,2025-01-01 00:00:00,302.483571,385.408617,303.238443,307.615149,298.829233,298.829315,103.158426
1,1,2025-01-01 00:10:00,303.837174,300.111109,297.861035,297.340913,299.412622,301.110395,98.464047
2,1,2025-01-01 00:20:00,299.877724,301.777757,302.085056,304.162309,298.533004,299.850807,100.190252
3,1,2025-01-01 00:30:00,303.323272,303.895963,294.494511,305.651141,301.865595,298.067635,97.682460
4,1,2025-01-01 00:40:00,297.766293,NaN,301.614999,NaN,289.108329,294.780518,100.345387

# Model selection

Discuss potential modeling approaches suitable for time series anomaly detection or predictive maintenance (e.g., ARIMA, Prophet, LSTM, Isolation Forest, One-Class SVM). Explain the pros and cons of each approach in the context of this problem.

# Prepare data for modeling

Prepare data for modeling by handling missing values resulting from rolling calculations and splitting the data into training and testing sets.

In [49]:
df.dropna(inplace=True)
display(df.head())

,enginegastemperature1,enginegastemperature2,enginegastemperature3,enginegastemperature4,enginegastemperature5,enginegastemperature6,pressure,isolation_forest_anomaly
datetimestamp,,,,,,,,
2025-01-01 00:00:00,302.483571,385.408617,303.238443,307.615149,298.829233,298.829315,103.158426,1
2025-01-01 00:10:00,303.837174,300.111109,297.861035,297.340913,299.412622,301.110395,98.464047,0
2025-01-01 00:20:00,299.877724,301.777757,302.085056,304.162309,298.533004,299.850807,100.190252,0
2025-01-01 00:30:00,303.323272,303.895963,294.494511,305.651141,301.865595,298.067635,97.682460,0
2025-01-01 00:50:00,301.620994,303.927661,313.280050,301.317430,308.208856,302.304082,100.171847,0

**Reasoning**:
Split the data into training and testing sets (80/20 split) and separate features from target variables for both sets.

In [ ]:
temperature_failure_flags = [f'enginegastemperature{i}_failure_flag' for i in range(1, 7)]
features = [col for col in df.columns if col not in temperature_failure_flags and col not in ['datetimestamp']]

X = df[features]
y = df[temperature_failure_flags]

train_size = int(len(df) * 0.8)
X_train, X_test = X[0:train_size], X[train_size:len(df)]
y_train, y_test = y[0:train_size], y[train_size:len(df)]

print("Training set shapes:")
print(f"Features (X_train): {X_train.shape}")
print(f"Targets (y_train): {y_train.shape}")
print("\nTesting set shapes:")
print(f"Features (X_test): {X_test.shape}")
print(f"Targets (y_test): {y_test.shape}")

Training set shapes:
Features (X_train): (136574, 9)
Targets (y_train): (136574, 6)

Testing set shapes:
Features (X_test): (34144, 9)
Targets (y_test): (126203, 6)

# Z score

In [55]:
# For a Z-score anomaly detection model on time series, you typically need:
# - The raw sensor value(s) to analyze (e.g., one or more temperature columns)
# - A rolling mean and rolling standard deviation for the same column(s) to compute the Z-score

# Example for 'enginegastemperature6':
zscore_features = [
    'enginegastemperature6',
    'enginegastemperature6_rolling_mean',
    'enginegastemperature6_rolling_std'
]

# For all temperature sensors:
zscore_features_all = []
for col in temperature_columns:
    zscore_features_all.extend([
        col,
        f"{col}_rolling_mean",
        f"{col}_rolling_std"
    ])

print("Features needed for Z-score model (example):", zscore_features)
print("Features needed for all temperature sensors:", zscore_features_all)

Features needed for Z-score model (example): ['enginegastemperature6', 'enginegastemperature6_rolling_mean', 'enginegastemperature6_rolling_std']
Features needed for all temperature sensors: ['enginegastemperature1', 'enginegastemperature1_rolling_mean', 'enginegastemperature1_rolling_std', 'enginegastemperature2', 'enginegastemperature2_rolling_mean', 'enginegastemperature2_rolling_std', 'enginegastemperature3', 'enginegastemperature3_rolling_mean', 'enginegastemperature3_rolling_std', 'enginegastemperature4', 'enginegastemperature4_rolling_mean', 'enginegastemperature4_rolling_std', 'enginegastemperature5', 'enginegastemperature5_rolling_mean', 'enginegastemperature5_rolling_std', 'enginegastemperature6', 'enginegastemperature6_rolling_mean', 'enginegastemperature6_rolling_std']

In [56]:
# Calculate Z-score for each temperature sensor in the test set
for col in temperature_columns:
    mean_col = f"{col}_rolling_mean"
    std_col = f"{col}_rolling_std"
    z_col = f"{col}_zscore"
    X_test[z_col] = (X_test[col] - X_test[mean_col]) / X_test[std_col]

# Example: flag anomalies where absolute Z-score > 3 for enginegastemperature6
X_test['enginegastemperature6_zscore_anomaly'] = (X_test['enginegastemperature6_zscore'].abs() > 3).astype(int)

# Show anomaly counts
print("Anomaly count for enginegastemperature6 (|z| > 3):", X_test['enginegastemperature6_zscore_anomaly'].sum())

# Optionally, display a few rows
display(X_test[['enginegastemperature6', 'enginegastemperature6_rolling_mean', 'enginegastemperature6_rolling_std', 'enginegastemperature6_zscore', 'enginegastemperature6_zscore_anomaly']].head())

KeyError: 'enginegastemperature1_rolling_mean'

# Isolation forest

In [57]:
from sklearn.ensemble import IsolationForest
from sklearn.metrics import confusion_matrix, classification_report, ConfusionMatrixDisplay
import seaborn as sns

import matplotlib.pyplot as plt

# 1. Select features for Isolation Forest (using temperature and pressure columns)
features_for_iforest = ['enginegastemperature1', 'enginegastemperature2', 'enginegastemperature3',
                        'enginegastemperature4', 'enginegastemperature5', 'enginegastemperature6', 'pressure']

# Use only the test set for evaluation
X_iforest = X_test[features_for_iforest]

# 2. Fit Isolation Forest on the test set (in practice, fit on train, predict on test, but for unsupervised, this is common for anomaly detection)
iforest = IsolationForest(n_estimators=100, contamination='auto', random_state=42)
iforest.fit(X_iforest)
y_pred = iforest.predict(X_iforest)
# Convert to 1=anomaly, 0=normal
y_pred = (y_pred == -1).astype(int)

# 3. Create ground truth: any temperature failure flag in y_test
y_true = y_test[temperature_failure_flags].max(axis=1).values

# 4. Confusion Matrix
cm = confusion_matrix(y_true, y_pred)
disp = ConfusionMatrixDisplay(confusion_matrix=cm, display_labels=["Normal", "Anomaly"])
disp.plot(cmap='Blues')
plt.title("Isolation Forest Confusion Matrix")
plt.show()

# 5. Classification Report
print("Classification Report:\n")
print(classification_report(y_true, y_pred, target_names=["Normal", "Anomaly"]))

# 6. Visualization: plot one temperature sensor, color by anomaly
plt.figure(figsize=(14, 5))
plt.plot(X_test.index, X_test['enginegastemperature6'], label='enginegastemperature6', color='blue', alpha=0.6)
plt.scatter(X_test.index[y_pred == 1], X_test['enginegastemperature6'][y_pred == 1], color='red', label='Anomaly', s=10)
plt.xlabel('Index')
plt.ylabel('enginegastemperature6')
plt.title('Isolation Forest Anomaly Detection (enginegastemperature6)')
plt.legend()
plt.show()

ValueError: Found input variables with inconsistent numbers of samples: [126203, 34144]

# Other isolation fores

In [58]:
# prompt: concept simulation usig isolation forest

import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest

# Select features relevant for anomaly detection.
# These could be the original sensor readings or engineered features like deviations and ratios.
# Using a subset of features often works well for Isolation Forest.
# Let's use the original temperature and pressure readings for simplicity in this concept simulation.
features_for_anomaly = [f'enginegastemperature{i}' for i in range(1, 7)] + ['pressure']

# Drop rows with NaN values introduced by previous feature engineering steps if any
# Although the data is already clean after dropna, it's good practice if using a subset of features
# that might not have NaNs.
X_anomaly = df[features_for_anomaly].copy()

# Initialize Isolation Forest model
# n_estimators: The number of base estimators in the ensemble.
# contamination: The proportion of outliers in the data set.
#   'auto': decides based on the training data's distribution.
#   float: The proportion of outliers in the data set.
#   We can set a contamination value based on our understanding or let it be 'auto'.
#   Given the low number of defined failures, a small contamination value might be reasonable,
#   or 'auto' can be tried first. Let's use 'auto' initially.
# random_state: Ensures reproducibility.
isolation_forest = IsolationForest(n_estimators=100, contamination='auto', random_state=42)

# Fit the model to the data
# Isolation Forest trains on the entire dataset to find anomalies.
isolation_forest.fit(X_anomaly)

# Predict anomalies
# predict returns -1 for outliers and 1 for inliers.
# We want to identify the outliers (-1).
df['isolation_forest_anomaly'] = isolation_forest.predict(X_anomaly)

# Convert predictions to a more intuitive format: 1 for anomaly, 0 for normal
df['isolation_forest_anomaly'] = df['isolation_forest_anomaly'].map({-1: 1, 1: 0})

# Display the number of anomalies detected by Isolation Forest
print("Number of anomalies detected by Isolation Forest:", df['isolation_forest_anomaly'].sum())

# Compare Isolation Forest anomalies with the defined failure flags
print("\nComparison of Isolation Forest anomalies and defined failure flags:")

# Create a combined failure flag for any temperature sensor failure
# Use y (which contains the failure flags) and align its index with df
df['any_temp_failure'] = y.max(axis=1).reindex(df.index, fill_value=0)

# Calculate a confusion matrix or cross-tabulation
comparison_table = pd.crosstab(df['isolation_forest_anomaly'], df['any_temp_failure'],
                               rownames=['Isolation Forest Anomaly'], colnames=['Defined Failure Flag'])
print(comparison_table)

# Note: This comparison is a concept simulation. Isolation Forest is unsupervised
# and identifies statistical outliers based on the feature distribution.
# The defined failure flags are based on a specific domain-knowledge-driven rule.
# The two might not perfectly align. The table shows how many instances flagged by Isolation Forest
# were also flagged by your rule, and vice versa.

# Visualize a sample of data points, highlighting Isolation Forest anomalies
# Select a subset of features for visualization
viz_features = ['enginegastemperature1', 'enginegastemperature2'] # Example
plt.figure(figsize=(15, 7))
# Plot normal points
plt.scatter(df.index[df['isolation_forest_anomaly'] == 0], df[viz_features[0]][df['isolation_forest_anomaly'] == 0],
            c='blue', s=10, label='Normal')
# Plot anomalies
plt.scatter(df.index[df['isolation_forest_anomaly'] == 1], df[viz_features[0]][df['isolation_forest_anomaly'] == 1],
            c='red', s=20, label='Anomaly (Isolation Forest)')
plt.title(f'Isolation Forest Anomaly Detection on {viz_features[0]} over Time')
plt.xlabel('Time')
plt.ylabel(viz_features[0])
plt.legend()
plt.show()

# You can repeat the visualization for other sensors or combinations of features.

Number of anomalies detected by Isolation Forest: 9864

Comparison of Isolation Forest anomalies and defined failure flags:
Defined Failure Flag           0
Isolation Forest Anomaly
0                         160854
1                           9864

KeyboardInterrupt: